# Building a movie recommendation system
In this assignment you will be building a movie recommendation system which recommends movies that are similar to the movie you search for. This is knew as the content based filtering approach when building recommendation systems. There are also other methods, but in this assignment we only practice the content based filter method and you will be using what you have learned like k-nn, k-mean to implement the system. We will use the [TMDB 5000 Movie Dataset](https://www.kaggle.com/tmdb/tmdb-movie-metadata) dataset which includes data about 5000 movies for our movie recommendation system.

## The dataset
You will not use the [TMDB 5000 Movie Dataset](https://www.kaggle.com/tmdb/tmdb-movie-metadata) dataset directly instead you use the smaller version that we have prepared for you. The smaller version includes fewer columns than the original, has some pre-processing and contains only one file. Let's read the data using pandas using the cell below.

In [1]:
# In this assignment, we contrast 2 type of distances: cosine and euclidean
# so we should use cosine if observations have different length. Use these distant matrix
# to get similar movies. we also contrast tfidf and countevectorizer
# At the second session we use kmeans and use tfidf and countvectorizer to feed our model
import pandas as pd
df = pd.read_csv("data/tmdb5000.csv")

df.head(5)

                                      title  ...                                           overview
0                                    Avatar  ...  In the 22nd century, a paraplegic Marine is di...
1  Pirates of the Caribbean: At World's End  ...  Captain Barbossa, long believed to be dead, ha...
2                                   Spectre  ...  A cryptic message from Bond’s past sends him o...
3                     The Dark Knight Rises  ...  Following the death of District Attorney Harve...
4                               John Carter  ...  John Carter is a war-weary, former military ca...

[5 rows x 6 columns]

### Filling na values
As you can see our dataset has six columns. First, let's check if any columns that have na values and fill those values.

In [2]:
print (df.columns.tolist())
print (df.dtypes)
print ("has na columns: ", df.columns[df.isna().any()].tolist())

['title', 'cast', 'director', 'keywords', 'genres', 'overview']
title       object
cast        object
director    object
keywords    object
genres      object
overview    object
dtype: object
has na columns:  ['director', 'overview']

Fill the na values in the **director** and **overview** columns with empty strings.

In [3]:
# YOUR CODE HERE
df["director"] = df['director'].fillna('')
df["overview"] = df['overview'].fillna('')
# YOUR CODE HERE

df[df["director"] == ""].head(5)

                   title  ...                                           overview
3661           Flying By  ...  A real estate developer goes to his 25th high ...
3670     Running Forever  ...  After being estranged since her mother's death...
3729                 Paa  ...  He suffers from a progeria like syndrome. Ment...
3977  Boynton Beach Club  ...  A handful of men and women of a certain age pi...
4068           Sharkskin  ...  The Post War II story of Manhattan born Mike E...

[5 rows x 6 columns]

### Convert string array to array
The **cast**, **keywords**, **genres** columns are currently string type. We need to convert them into their actual array type.

In [4]:
print(type(df["cast"][0]))

# Parse the stringified features into their corresponding python objects
from ast import literal_eval

features = ['cast', 'keywords', 'genres']
# YOUR CODE HERE
for feature in features:
    df[feature] = df[feature].apply(lambda x: literal_eval(x))
# YOUR CODE HERE
    
print (type(df["cast"][0]))

<class 'str'>
<class 'list'>

## Recommend movies using overview
Let's use the **overview** column from the dataset to recommend movies. It is pretty reasonable to use the overview plot to recommend movies beacuse people might like movies with similar plot.

### Represent movie overviews as vectors
We use **tf-idf** to transform our movie reviews into vectors then we can use them to recommend similar movies. Let's use the [TfidfVectorizer](https://scikit-learn.org/stable/modules/generated/sklearn.feature_extraction.text.TfidfVectorizer.html) from sklearn to get a matrix of vectors for each movie overview in our dataset. Complete to code below.

In [5]:
from sklearn.feature_extraction.text import TfidfVectorizer

# remove all english stop words such as 'the', 'a'
tfidf = TfidfVectorizer(stop_words='english')

# YOUR CODE HERE
tfidf_matrix = tfidf.fit_transform(df['overview'])
# YOUR CODE HERE

# You shoud get (4803, 20978)
tfidf_matrix.shape

(4803, 20978)

Now, we compute the similarities between each pair of movies then save them for the recommendation later. There are several methods for computing the similarites like consine similarity, euclidean, ... We do not know immediately what is the wright method for this so let's try them out. We use the [cosine_similarity](https://scikit-learn.org/stable/modules/generated/sklearn.metrics.pairwise.cosine_similarity.html), [euclidean_distances](https://scikit-learn.org/stable/modules/generated/sklearn.metrics.pairwise.euclidean_distances.html) from sklearn to compute them. Complete the code below to compute the cosine similarity and euclidean distance for each pair of movies. Because euclidean distance is kind of opposite of consine similarity so for convenience, we will multiple euclidan distances with -1 to flip them into similarities.

In [6]:
from sklearn.metrics.pairwise import cosine_similarity, euclidean_distances

cosine_sims = cosine_similarity(tfidf_matrix, tfidf_matrix) # YOUR CODE HERE
euclid_distances = euclidean_distances(tfidf_matrix, tfidf_matrix) # YOUR CODE HERE
# Here we use a simple trick to convert euclidean distances into similarity scores
# we just negative the distances so, higher distances become lower scores
euclid_sims = -euclid_distances

# you should get (4803, 4803)
print (cosine_sims.shape)
print (euclid_sims.shape)

(4803, 4803)
(4803, 4803)

Let's create a look up a movie indexes table from the movie titles to use later.

In [7]:
title2index = pd.Series(df.index, index=df['title']).drop_duplicates()

Complete the **get_recommendations** function below

In [8]:
def get_recommendations(title, sims, title2index, df):
    """
        Get recommendation movies from a movie title
        
        :param title: The query movie title
        :param sims: The similarity matrix for each pair of movie
        :param title2index: Title to index look up table
        :param df: The dataset dataframe
        
        :return: The top 10 recommendation movies
    """
    
    # get the movie index by the title
    idx = title2index[title]

    # get the pairwsie similarity scores of all movies with that movie
    sim_scores = list(enumerate(sims[idx]))

    # sort the movies based on the similarity scores
    sim_scores = sorted(sim_scores, key=lambda x: x[1]) # YOUR CODE HERE
   
    # get the scores of the 10 most similar movies
    # we ignore the first one beacause it is the same movie
    sim_scores = sim_scores[1:11]

    # get the movie indices
    movie_indices = [i[0] for i in sim_scores]

    # return the top 10 most similar movies
    return df[:].iloc[movie_indices]

In [9]:
get_recommendations('The Dark Knight', cosine_sims, title2index, df)

                                          title  ...                                           overview
1      Pirates of the Caribbean: At World's End  ...  Captain Barbossa, long believed to be dead, ha...
2                                       Spectre  ...  A cryptic message from Bond’s past sends him o...
5                                  Spider-Man 3  ...  The seemingly invincible Spider-Man goes up ag...
8        Harry Potter and the Half-Blood Prince  ...  As Harry begins his sixth year at Hogwarts, he...
10                             Superman Returns  ...  Superman returns to discover his 5-year absenc...
11                            Quantum of Solace  ...  Quantum of Solace continues the adventures of ...
12   Pirates of the Caribbean: Dead Man's Chest  ...  Captain Jack Sparrow works his way out of a bl...
13                              The Lone Ranger  ...  The Texas Rangers chase down a gang of outlaws...
14                                 Man of Steel  ...  A young boy learns that he has extraordinary p...
17  Pirates of the Caribbean: On Stranger Tides  ...  Captain Jack Sparrow crosses paths with a woma...

[10 rows x 6 columns]

In [10]:
get_recommendations('The Avengers', cosine_sims, title2index, df)

                                         title  ...                                           overview
1     Pirates of the Caribbean: At World's End  ...  Captain Barbossa, long believed to be dead, ha...
2                                      Spectre  ...  A cryptic message from Bond’s past sends him o...
5                                 Spider-Man 3  ...  The seemingly invincible Spider-Man goes up ag...
6                                      Tangled  ...  When the kingdom's most wanted-and most charmi...
10                            Superman Returns  ...  Superman returns to discover his 5-year absenc...
11                           Quantum of Solace  ...  Quantum of Solace continues the adventures of ...
12  Pirates of the Caribbean: Dead Man's Chest  ...  Captain Jack Sparrow works his way out of a bl...
13                             The Lone Ranger  ...  The Texas Rangers chase down a gang of outlaws...
15    The Chronicles of Narnia: Prince Caspian  ...  One year after their incredible adventures in ...
19   The Hobbit: The Battle of the Five Armies  ...  Immediately after the events of The Desolation...

[10 rows x 6 columns]

In [11]:
get_recommendations('The Dark Knight', euclid_sims, title2index, df)

                                  title  ...                                           overview
24                            King Kong  ...  In 1933 New York, an overly ambitious movie pr...
32                  Alice in Wonderland  ...  Alice, an unpretentious and individual 19-year...
34                  Monsters University  ...  A look at the relationship between Mike and Su...
38             The Amazing Spider-Man 2  ...  For Peter Parker, life is busy. Between taking...
66                                   Up  ...  Carl Fredricksen spent his entire life dreamin...
81                           Maleficent  ...  The untold story of Disney's most iconic villa...
89                       Wreck-It Ralph  ...  Wreck-It Ralph is the 9-foot-tall, 643-pound v...
146  Madagascar 3: Europe's Most Wanted  ...  Alex, Marty, Gloria and Melman are still tryin...
163                            Watchmen  ...  In a gritty and alternate 1985 the glory days ...
198                            R.I.P.D.  ...  A recently slain cop joins a team of undead po...

[10 rows x 6 columns]

In [12]:
get_recommendations('The Avengers', euclid_sims, title2index, df)

                        title  ...                                           overview
34        Monsters University  ...  A look at the relationship between Mike and Su...
77                 Inside Out  ...  Growing up can be a bumpy road, and it's no ex...
89             Wreck-It Ralph  ...  Wreck-It Ralph is the 9-foot-tall, 643-pound v...
122  X-Men Origins: Wolverine  ...  After seeking to live a normal life, Logan set...
140          White House Down  ...  Capitol Policeman John Cale has just been deni...
163                  Watchmen  ...  In a gritty and alternate 1985 the glory days ...
232             The Wolverine  ...  Wolverine faces his ultimate nemesis - and tes...
257                Real Steel  ...  In the near-future, Charlie Kenton is a washed...
281         American Gangster  ...  Following the death of his employer and mentor...
282                 True Lies  ...  Harry Tasker is a secret agent for the United ...

[10 rows x 6 columns]

If you implement correctly, for cosine similarity case you should get **The Dark Knight Rises**, **Batman Returns** in top 2 for **The Dark Knight** movie and **Avengers: Age of Ultron**, **Plastic** for the **The Avengers** movie.
<br>
But in the ecludian case, you can see the top 4 recommendation movies are nothing similar to the query movie. There is a problem here, because the **overview** for the top 4 movie is empty so we can ignore the top 4 movies and use from the 5th movies which are much similar to the query movie.

## Recommend movies using multiple features
Previously, we only use the overview plot of the movies to recommend similar movies. Many people might like other movies beacause they are the same genres or from the same director, actors, actresses.

We will use the **cast**, **director**, **keywords**, **genres** features from our dataset to recommend movies. First, let's preprocess the data. Complete the code below to apply the **clean_data** function to the features. Here, we lower case the people name and replace the space character with the underscore character so that people name are preserved.

In [13]:
def clean_data(x):
    if isinstance(x, list):
        return [str.lower(i.replace(" ", "_")) for i in x]
    else:
        # check if director exists. If not, return empty string
        if isinstance(x, str):
            return str.lower(x.replace(" ", ""))
        else:
            return ''
        
# apply clean_data function to your features.
features = ['cast', 'director', 'keywords', 'genres']

for feature in features:
    df[feature] = df[feature].apply(clean_data) # YOUR CODE HERE

In [14]:
df.head(5)

                                      title  ...                                           overview
0                                    Avatar  ...  In the 22nd century, a paraplegic Marine is di...
1  Pirates of the Caribbean: At World's End  ...  Captain Barbossa, long believed to be dead, ha...
2                                   Spectre  ...  A cryptic message from Bond’s past sends him o...
3                     The Dark Knight Rises  ...  Following the death of District Attorney Harve...
4                               John Carter  ...  John Carter is a war-weary, former military ca...

[5 rows x 6 columns]

Let's combine the four features into one feature. Complete the code below.

In [15]:
print(df[['cast', 'director', 'keywords', 'genres']].head())

                                                cast  ...                                         genres
0  [sam_worthington, zoe_saldana, sigourney_weave...  ...  [action, adventure, fantasy, science_fiction]
1  [johnny_depp, orlando_bloom, keira_knightley, ...  ...                   [adventure, fantasy, action]
2  [daniel_craig, christoph_waltz, léa_seydoux, r...  ...                     [action, adventure, crime]
3  [christian_bale, michael_caine, gary_oldman, a...  ...               [action, crime, drama, thriller]
4  [taylor_kitsch, lynn_collins, samantha_morton,...  ...           [action, adventure, science_fiction]

[5 rows x 4 columns]

In [16]:
def combine(x):
    return ' '.join(x['cast']) + ' ' + x['director'] + ' ' + ' '.join(x['keywords']) + ' ' + ' '.join(x['genres'])
df['combined'] = df[['cast', 'director', 'keywords', 'genres']].apply(combine, axis=1) # YOUR CODE HERE

In [17]:
df.head(5)

                                      title  ...                                           combined
0                                    Avatar  ...  sam_worthington zoe_saldana sigourney_weaver s...
1  Pirates of the Caribbean: At World's End  ...  johnny_depp orlando_bloom keira_knightley stel...
2                                   Spectre  ...  daniel_craig christoph_waltz léa_seydoux ralph...
3                     The Dark Knight Rises  ...  christian_bale michael_caine gary_oldman anne_...
4                               John Carter  ...  taylor_kitsch lynn_collins samantha_morton wil...

[5 rows x 7 columns]

### Represent the combined feature as vectors
We do not use **tf-idf** for this feature because we do not want for example a director appears in many movies which does not mean that director is less important so we use the [CountVectorizer](https://scikit-learn.org/stable/modules/generated/sklearn.feature_extraction.text.CountVectorizer.html) instead.
<br>
Complete the code below to get the **count_matrix**

In [18]:
# Import CountVectorizer and create the count matrix
from sklearn.feature_extraction.text import CountVectorizer

count = CountVectorizer(stop_words='english')
count_matrix = count.fit_transform(df['combined']) # YOUR CODE HERE

Complete the code below to calculate the cosine similarities, euclidean distances using the **count_matrix**

In [19]:
cosine_sims2 = cosine_similarity(count_matrix, count_matrix) # YOUR CODE HERE
euclid_distances2 = euclidean_distances(count_matrix, count_matrix) # YOUR CODE HERE

# Here we use a simple trick to convert euclidean distances into similarity scores
# we just negative the distances so, higher distances become lower scores
euclid_sims2 = -euclid_distances2

# you should get (4803, 4803)
print (cosine_sims2.shape)
print (euclid_sims2.shape)

(4803, 4803)
(4803, 4803)

In [20]:
df = df.reset_index()
indices = pd.Series(df.index, index=df['title'])

Let's check out the recommendations

In [21]:
get_recommendations('The Dark Knight', cosine_sims2, title2index, df)

    index  ...                                           combined
8       8  ...  daniel_radcliffe rupert_grint emma_watson tom_...
15     15  ...  ben_barnes william_moseley anna_popplewell ska...
22     22  ...  martin_freeman ian_mckellen richard_armitage k...
23     23  ...  dakota_blue_richards nicole_kidman daniel_crai...
32     32  ...  mia_wasikowska johnny_depp anne_hathaway helen...
34     34  ...  billy_crystal john_goodman steve_buscemi helen...
37     37  ...  james_franco mila_kunis rachel_weisz michelle_...
42     42  ...  tom_hanks tim_allen ned_beatty joan_cusack lee...
54     54  ...  raymond_ochoa jack_bright jeffrey_wright franc...
55     55  ...  kelly_macdonald julie_walters billy_connolly e...

[10 rows x 8 columns]

In [22]:
get_recommendations('The Avengers', cosine_sims2, title2index, df)

     index  ...                                           combined
25      25  ...  kate_winslet leonardo_dicaprio frances_fisher ...
34      34  ...  billy_crystal john_goodman steve_buscemi helen...
42      42  ...  tom_hanks tim_allen ned_beatty joan_cusack lee...
49      49  ...  leonardo_dicaprio tobey_maguire carey_mulligan...
57      57  ...  ben_burtt elissa_knight jeff_garlin fred_willa...
60      60  ...  gary_oldman jim_carrey steve_valentine daryl_s...
73      73  ...  steve_carell lauren_graham john_goodman jimmy_...
77      77  ...  amy_poehler phyllis_smith richard_kind bill_ha...
100    100  ...  cate_blanchett brad_pitt tilda_swinton julia_o...
105    105  ...  johnny_depp mia_wasikowska anne_hathaway helen...

[10 rows x 8 columns]

In [23]:
get_recommendations('The Dark Knight', euclid_sims2, title2index, df)

      index  ...                                           combined
358     358  ...  michael_j._fox corey_burton claudia_christian ...
2877   2877  ...  song_kang-ho park_hae-il bae_doona ko_ah-sung ...
66       66  ...  ed_asner christopher_plummer jordan_nagai bob_...
254     254  ...  hank_azaria neil_patrick_harris jayma_mays sof...
503     503  ...  rene_russo jason_alexander piper_perabo randy_...
572     572  ...  robin_williams dustin_hoffman julia_roberts bo...
661     661  ...  jonah_bobo josh_hutcherson dax_shepard kristen...
1016   1016  ...  meg_ryan hugh_jackman liev_schreiber breckin_m...
1086   1086  ...  carter_jenkins austin_butler kevin_nealon robe...
1165   1165  ...  michael_j._fox christopher_lloyd mary_steenbur...

[10 rows x 8 columns]

In [24]:
get_recommendations('The Avengers', euclid_sims2, title2index, df)

      index  ...                                           combined
2877   2877  ...  song_kang-ho park_hae-il bae_doona ko_ah-sung ...
3391   3391  ...  jude_law demián_bichir richard_e._grant matthe...
3530   3530  ...  joseph_gordon-levitt scarlett_johansson julian...
3940   3940  ...  choi_min-sik yoo_ji-tae kang_hye-jung kim_byeo...
77       77  ...  amy_poehler phyllis_smith richard_kind bill_ha...
855     855  ...  stephen_lang jeff_daniels robert_duvall kevin_...
875     875  ...  nicole_kidman ewan_mcgregor john_leguizamo jim...
1078   1078  ...  julia_roberts meryl_streep nicolas_cage paul_g...
1304   1304  ...  tony_leung_chiu-wai zhang_ziyi song_hye-kyo ch...
1647   1647  ...  josh_hartnett rose_byrne matthew_lillard diane...

[10 rows x 8 columns]

If you implement correctly, you can see the results are pretty reasonable. We get **The Dark Knight Rises**, **Batman Begins**, **The Prestige** for the **The Dark Night** movie, they are all directed by **Christopher Nolan**. We get **Avengers: Age of Ultron**, **Captain America: Civil War**, **Iron Man 2** for the **The Avengers** movie; they all have the **Robert Downey Jr** actor in the cast who is a very popular actor.

## Clustering movies using k-mean

We have used k-nn to find similar movies using cosine similarity and ecludian distance in previous sections. In this section let's use the k-mean algorithm to cluster the movies. We will use the [KMeans](https://scikit-learn.org/stable/modules/generated/sklearn.cluster.KMeans.html) class from sklearn.

Complete the **kmeans_tfidf** and **kmeans_count** variable using the **KMeans** class with the following parameters:
<br>
**n_clusters**: **500**
<br>
**random_state**: **96**
<br>
**max_iter**: **1000**
<br>
Remember to use the **fit** function on the **tfidf_matrix** and **count_matrix** variables.

In [25]:
from sklearn.cluster import KMeans

kmeans_tfidf = KMeans(n_clusters=500, random_state=96, max_iter=1000).fit(tfidf_matrix) # YOUR CODE HERE
kmeans_count = KMeans(n_clusters=500, random_state=96, max_iter=1000).fit(count_matrix) # YOUR CODE HERE

Read the **get_cluster_movies** and **get_recommendations_kmean** functions below and complete them.

In [26]:
def get_cluster_movies(labels):
    """
        Create movies look up table by label
        :param labels: Array of labels with indexes are movie indexes
        :return: Return a dictionary with cluster labels are keys and items are array movie indexes
    """
    res_dict = {}
    for i, l in enumerate(labels):
        if l not in res_dict:
            res_dict[l] = []
        res_dict[l].append(i)
    return res_dict

def get_recommendations_kmean(title, title2index, cluster_dict, labels):
    """
        Get the movies in the same cluster give a movie title
        
        :param title: The title of the query movie
        :param title2index: Title to index look up table
        :param cluster_dict: A dictionary for looking up movies in the same cluster
        :param labels: Array of labels with indexes are movie indexes
    """
    # get the movie index by the title
    idx = title2index[title]
    
    # Get the movie indices with maximun of 10
    movie_indices =  cluster_dict[labels[idx]][:10] # YOUR CODE HERE
    
    # Return the top 10 most similar movies
    return df[:].iloc[movie_indices]

Let's check the resutls

In [27]:
tfidf_clusters = get_cluster_movies(kmeans_tfidf.labels_)
count_clusters = get_cluster_movies(kmeans_count.labels_)

In [28]:
get_recommendations_kmean('The Dark Knight', title2index, tfidf_clusters, kmeans_tfidf.labels_)

      index  ...                                           combined
3         3  ...  christian_bale michael_caine gary_oldman anne_...
9         9  ...  ben_affleck henry_cavill gal_gadot amy_adams z...
65       65  ...  christian_bale heath_ledger aaron_eckhart mich...
299     299  ...  val_kilmer tommy_lee_jones jim_carrey nicole_k...
428     428  ...  michael_keaton danny_devito michelle_pfeiffer ...
3854   3854  ...  peter_weller ariel_winter david_selby michael_...

[6 rows x 8 columns]

In [29]:
get_recommendations_kmean('The Avengers', title2index, tfidf_clusters, kmeans_tfidf.labels_)

      index  ...                                           combined
16       16  ...  robert_downey_jr. chris_evans mark_ruffalo chr...
370     370  ...  jesse_eisenberg woody_harrelson mark_ruffalo d...
519     519  ...  jesse_eisenberg mark_ruffalo woody_harrelson m...
658     658  ...  jason_statham joan_allen ian_mcshane tyrese_gi...
1443   1443  ...  colin_farrell scott_caan ali_larter gabriel_ma...
1847   1847  ...  robert_de_niro ray_liotta joe_pesci lorraine_b...
2212   2212  ...  casey_affleck chiwetel_ejiofor woody_harrelson...
4124   4124  ...  james_caan james_caan frank_vincent vincent_pa...
4256   4256  ...  danny_glover sean_astin vinnie_jones mischa_ba...
4268   4268  ...  jason_flemyng dexter_fletcher nick_moran jason...

[10 rows x 8 columns]

In [30]:
get_recommendations_kmean('The Dark Knight', title2index, count_clusters, kmeans_count.labels_)

     index  ...                                           combined
3        3  ...  christian_bale michael_caine gary_oldman anne_...
65      65  ...  christian_bale heath_ledger aaron_eckhart mich...
119    119  ...  christian_bale michael_caine liam_neeson katie...

[3 rows x 8 columns]

In [31]:
get_recommendations_kmean('The Avengers', title2index, count_clusters, kmeans_count.labels_)

     index  ...                                           combined
7        7  ...  robert_downey_jr. chris_hemsworth mark_ruffalo...
16      16  ...  robert_downey_jr. chris_evans mark_ruffalo chr...
174    174  ...  edward_norton liv_tyler tim_roth william_hurt ...

[3 rows x 8 columns]

As you can see the result are pretty reasonable. We encourage you to fine tune the k-mean paramters to see different results.